//- button mixins
//- anchor buttons
mixin a-btn(url,style)
        - var type = (typeof style === 'undefined') ? "default" : style
        a.btn(class=`btn-${type}`,href=url,role="button")
                block

mixin a-btn-primary(url)
        +a-btn(url,"primary")
                block
        
mixin a-btn-info(url)
        +a-btn(url,"info")
                block
        
mixin a-btn-warning(url)
        +a-btn(url,"warning")
                block
        
mixin a-btn-danger(url)
        +a-btn(url,"danger")
                block
        
mixin a-btn-success(url)
        +a-btn(url,"success")
                block

//- buttons
mixin btn(type)
  button.btn(class=`btn-${type}`,type="button")&attributes(attributes)
    block


mixin btn-primary()
  +btn("primary")&attributes(attributes)
    block
        
mixin btn-secondary()
  +btn("secondary")&attributes(attributes)
    block

mixin btn-info()
  +btn("info")&attributes(attributes)
    block
        
mixin btn-warning()
  +btn("warning")&attributes(attributes)
    block
        
mixin btn-danger()
  +btn("danger")&attributes(attributes)
    block
        
mixin btn-success()
  +btn("success")&attributes(attributes)
    block

mixin btn-light()
  +btn("light")&attributes(attributes)
    block

mixin btn-dark()
  +btn("dark")&attributes(attributes)
    block

//- Large buttons       
mixin btn-lg(type)
  +btn(type)(class="btn-lg")&attributes(attributes)
    block
        
mixin btn-lg-primary()
  +btn("primary")(class="btn-lg")&attributes(attributes)
    block
        
mixin btn-lg-secondary()
  +btn("secondary")(class="btn-lg")&attributes(attributes)
    block

mixin btn-lg-info()
  +btn("info")&attributes(attributes)
    block
        
mixin btn-lg-success()
  +btn("success")&attributes(attributes)
    block
        
mixin btn-lg-warning()
  +btn("warning")&attributes(attributes)
    block
        
mixin btn-lg-danger()
  +btn("danger")&attributes(attributes)
    block
        
mixin btn-lg-light()
  +btn("light")&attributes(attributes)
    block

mixin btn-lg-dark()
  +btn("dark")&attributes(attributes)
    block

//- Small buttons       
mixin btn-sm(caption)
        - var type = (typeof style === 'undefined') ? 'default' : style
        +btn(caption,type,"sm")
        
mixin btn-sm-primary(caption)
        +btn(caption,"primary","sm")
        
mixin btn-sm-info(caption)
        +btn(caption,"info","sm")
        
mixin btn-sm-success(caption)
        +btn(caption,"success","sm")
        
mixin btn-sm-warning(caption)
        +btn(caption,"warning","sm")
        
mixin btn-sm-danger(caption)
        +btn(caption,"danger","sm")
        
                
//- input buttons
mixin input-btn(caption,style)
        - var type = (typeof style === 'undefined') ? "default" : style
        input.btn(class=`btn-${type}`,type="button",value=caption)

mixin input-btn-primary(caption)
        +input-btn(caption,"primary")
        
mixin input-btn-info(caption)
        +input-btn(caption,"info")
        
mixin input-btn-warning(caption)
        +input-btn(caption,"warning")
        
mixin input-btn-danger(caption)
        +input-btn(caption,"danger")
        
mixin input-btn-success(caption)
        +input-btn(caption,"success")
        
//- submit buttons
mixin submit(caption,style)
        - var type = (typeof style === 'undefined') ? "default" : style
        input.btn(class=`btn-${type}`,type="submit",value=caption)

mixin submit-primary(caption)
        +submit(caption,"primary")
        
mixin submit-info(caption)
        +submit(caption,"info")
        
mixin submit-warning(caption)
        +submit(caption,"warning")
        
mixin submit-danger(caption)
        +submit(caption,"danger")
        
mixin submit-success(caption)
        +submit(caption,"success")
        
