//- toggle
mixin toggle(type,text)
	button.btn(class="btn-#{type}",type="button",data-toggle="button",aria-pressed="false",autocomplete="off")
		= text

//- toggle-primary
mixin toggle-primary(text)
	+toggle("primary",text)

//- toggle-default
mixin toggle-default(text)
	+toggle("default",text)


//- toggle-info
mixin toggle-info(text)
	+toggle("info",text)


//- toggle-success
mixin toggle-success(text)
	+toggle("success",text)


//- toggle-warning
mixin toggle-warning(text)
	+toggle("warning",text)


//- toggle-danger
mixin toggle-danger(text)
	+toggle("danger",text)

//- checkbox button group
mixin checkbox-buttons(type,items,active)
	.btn-group(data-toggle="buttons")
		each item,index in items
			if(index === active)
				label.btn.active(class="btn-#{type}")
					input(type="checkbox",autocomplete="off",checked) 
					|  #{item.caption}
			else
				label.btn(class="btn-#{type}")
					input(type="checkbox",autocomplete="off") 
					|  #{item.caption}

//- checkbox-buttons-primary
mixin checkbox-buttons-primary(items,active)
	+checkbox-buttons("primary",items,active)
	

//- radio button group
mixin radio-buttons(type,name,items,active)
	.btn-group(data-toggle="buttons")
		each item,index in items
			if(index === active)
				label.btn.active(class="btn-#{type}")
					input(type="radio",name="#{name}",autocomplete="off",checked) 
					|  #{item.caption}
			else
				label.btn(class="btn-#{type}")
					input(type="radio",name="#{name}",autocomplete="off") 
					|  #{item.caption}

//- checkbox-buttons-primary
mixin radio-buttons-primary(name,items,active)
	+radio-buttons("primary",name,items,active)
